<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px;">
    <!-- Mask -->
    <span class="mask bg-gradient-danger opacity-8"></span>
    <!-- Header container -->
    <div class="container-fluid d-flex align-items-center">
        <div class="row">
            <div class="col-lg-7 col-md-10">
                <h1 class="display-2 text-white">401 Unauthorized</h1>
                <p class="text-white mt-0 mb-5">The page you are trying to access is not allowed to your role.</p>

            </div>
        </div>
    </div>
</div>